%h1 Welcome to your Dashboard!
%p Manage your routers remotely.

<!-- =link_to "Sign out", destroy_user_session_path, :method => :delete -->
=link_to "Buildings", buildings_path, class: "btn btn-default"
=link_to "Routers", routers_path, class: "btn btn-primary"
