<% provide(:title, 'About') %>
<div class="center hero-unit">
	<h1>About WiFi Manager</h1>

<p>WiFi Manager is a tool used to remotely manage routers. It is developed by 3 student assistants of University Computer Center : Mike Cruz, Wilson Talento, and Franz Palngipang. The
web application is initially designed as a solution to simplify the management of routers within the UP Diliman Campus.
</p>

</div>
