%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation", style: "margin-bottom: 0"}
  .navbar-header
    %a.navbar-brand{href: root_path}WiFi Manager
  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %i.fa.fa-bell.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-alerts
        %li
          %a{href: '#'}
            %div
              %i.fa.fa-comment.fa-fw
              New Comment
              %span.pull-right.text-muted.small Sample text
        %li.divider
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-alerts
        %li
          %a{href: '#'}
            %div
              %i.fa.fa-user.fa-fw
              User Profile
              %span.pull-right.text-muted.small Sample text
        %li.divider
        %li
          %a{href: '#'}
            %i.fa.fa-signout.fa-fw
              Logout
  .navbar-inverse.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        %li.sidebar-search
        %li
          %a{href: '#'}
            %i.fa.fa-dashboard.fa-fw
            Dashboard
        %li
          %a{href: '#'}
            %i.fa.fa-university.fa-fw
            Buildings
        %li
          %a{href: '#'}
            %i.fa.fa-bar-chart-o.fa-fw
            Analytics
        %li
          %a{href: '#'}
